API_ID=11699416
API_HASH=625e390d5db9737b7307a2ae5b33d827
BOT_TOKEN=7871705870:AAH2aQv6BPXwJn20ZqMwd1ub2r3KQ8V29H8
LOGGER_ID=-1002371959988
MONGO_DB_URI=mongodb+srv://asaka:Asaka101A@cluster0.ki2uk.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=6504095190
STRING_SESSION=BACyhNgAeuqMqOGOZlNlRqj03jyjoRd2Hu3l1OheFo6EDJZAqfoz0XED7T9bAHyJjCYlXo8IjQ0p5xd6sbgaQ7usO9YLoM6NppigdETFAUECw9RVba9rvF8oj2m1JC1qaNiM_i63h5X-cboqZXVCCmE22nEAhO17SxS7qWQXIY3XZdnkGM7Yk8JZL0U4dEPeNRgC7OYRnstxM5vYNYGivphGwtfBk7oDp3WaR96GA5hUW1HVmyKoRjxGHKzonhEC7FTTqYHmplVaGtg8LJ4gH6pmpr-rU9k2hYcWNeEvBAv5qsQpb8c0lqjvbtgrlXNsJZibxW3QNgWXCWRq5PnOpOPyK-pKQgAAAAHd-xVmAA
